<!-- add_finance.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Finance</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Add Finance Record</h1>
    <form action="/finance/add" method="POST">
        <label>Amount:</label>
        <input type="number" name="amount" required>
        
        <label>Currency:</label>
        <select name="currency" required>
            <option value="USD">USD</option>
            <option value="PKR">PKR</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>
        
        <label>Purpose:</label>
        <input type="text" name="purpose" required>
        
        <label>Receiver:</label>
        <input type="text" name="recipient" required>
        
        <label>Sender's Bank Account:</label>
        <select name="bank_account" required>
            <option value="" disabled selected>Select a bank account</option>
            <option value="Zain's">Zain's</option>
            <option value="Hammad's">Hammad's</option>
            <option value="Rizwan's">Rizwan's</option>
        </select>
        

        <label>Settled:</label>
        <select name="settled">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        
        <button type="submit" class="btn">Add Finance</button>
    </form>
</body>
</html>